Repository cse110-sp24-group27/cse110-sp24-group27, pull requests merged in 2024-05, with the labels that each got.

#18 Added individual project page HTML file
  individual-project.html
Labels: HTML, Project Workflow Page, in progress

#21 Phase1 CI/CD diagram and md
  admin/cipipeline/phase1.drawio.png
  admin/cipipeline/phase1.md
  specs/adrs/050824-CIPipeline.md
Labels: CI/CD

#22 Added individual project page basic CSS
  individual-project.html
  source/assets/styles/styles.css
Labels: CSS

#25 JSDoc Test
  source/assets/styles/test.js
Labels: CI/CD

#27 Pipeline showcase
  source/assets/styles/test.js
Labels: CI/CD

#30 Added 5/13 notes
  admin/meetings/051324-standup.md
  admin/meetings/date-topic.md
Labels: notes

#42 Modified project home page's html structure
  project.html
Labels: Project Page, HTML

#44 Edited individual project page HTML/CSS
  individual-project.html
  source/assets/styles/styles.css
Labels: HTML, CSS, in progress

#45 created project_styles.css and modified project home page's HTML structure
  project.html
  source/assets/styles/project_styles.css
Labels: Project Page, HTML, CSS, in progress

#47 Added 5/15 notes
  admin/meetings/051524-standup.md
Labels: notes

#48 modified styles for project home page
  project.html
  source/assets/styles/project_styles.css
Labels: enhancement, Project Page, HTML, CSS, in progress

#49 Edited individual project page
  individual-project.html
  source/assets/images/back-arrow.png
  source/assets/images/icons/favicon.ico
  source/assets/styles/styles.css
Labels: HTML, CSS, in progress

#51 edited project home page html and css
  project.html
  source/assets/styles/project_styles.css
Labels: Project Page, HTML, CSS, in progress

#52 Edited individual project page HTML/CSS
  individual-project.html
  source/assets/images/back-arrow.png
  source/assets/images/down-arrow.png
  source/assets/images/drag-button.png
  source/assets/images/icons/favicon.ico
  source/assets/images/icons/logo.ico
  source/assets/styles/styles.css
Labels: HTML, CSS, Project Workflow Page, in progress

#55 modified html and style of project home page
  project.html
  source/assets/styles/project_styles.css
Labels: Project Page, HTML, CSS

#58 Added 5/20 notes
  admin/meetings/052024-standup.md
Labels: notes

#61 added JS for Home button in Project Home Page
  home_projects_page.html
Labels: Project Page, HTML, JavaScript

#66 Solved merge conflict
  home_projects_page.html
  source/assets/scripts/main.js
  source/assets/styles/project_styles.css
Labels: Project Page, HTML, JavaScript

#67 Added 5/22 notes
  admin/meetings/052224-checkin.md
Labels: notes

#68 created cardTemplate.html as html and css template for each project card
  source/reference/cardTemplate.html
Labels: documentation, JavaScript, done

#70 Edited project page HTML/CSS
  source/assets/styles/styles.css
  source/reference/selected_project_page.html
Labels: HTML, CSS, Project Workflow Page

#72 Small changes to project page HTML/CSS
  source/assets/styles/styles.css
  source/reference/selected_project_page.html
Labels: HTML, CSS, Project Workflow Page

#73 small changes on styling of project home page
  source/assets/scripts/ProjectCard.js
  source/assets/styles/project_styles.css
  source/reference/cardTemplate.html
Labels: enhancement, Project Page, CSS, JavaScript

#76 Testing Unit testing
  .gitignore
  package-lock.json
  package.json
  source/assets/scripts/main.js
  source/assets/scripts/test.js
  source/tests/main.test.js
  source/tests/temp.md
Labels: JavaScript, CI/CD

#77 Journal page demo
  .vscode/settings.json
  source/assets/styles/styles.css
  source/reference/selected_journal_page.html
  source/reference/selected_project_page.html
Labels: Project Workflow Page

#80 modified Setting buttons
  home_projects_page.html
  source/assets/scripts/ProjectCard.js
  source/assets/styles/project_styles.css
  source/reference/project_setting.html
Labels: Project Home Page, HTML, CSS, Profile Setting Page

#87 added localstorage for profile
  source/assets/scripts/profile_setting.js
  source/reference/project_setting.html
Labels: JavaScript, in progress, Profile Setting Page

#90 Added 5/29 sprint review and retrospective notes
  admin/meetings/052924-retrospective.md
  admin/meetings/052924-sprint-2-review.md
Labels: notes

#89 added function to update profile
  home_projects_page.html
  source/assets/scripts/main.js
  source/assets/scripts/profile_setting.js
  source/assets/styles/project_setting.css
  source/assets/styles/project_styles.css
  source/reference/datastructure.json
  source/reference/project_setting.html
Labels: in progress, Profile Setting Page

#91 Made the links accessible for all developers.
  home_projects_page.html
  source/reference/project_setting.html
  source/reference/selected_project_page.html
Labels: bug, HTML, JavaScript

#94 fixed error in localstorage for profile and projects
  source/assets/scripts/main.js
  source/assets/styles/project_styles.css
Labels: bug, Project Home Page, Profile Setting Page
