Repository cse110-sp24-group27/cse110-sp24-group27, pull requests merged in 2024-06, with the labels that each got.

#101 Updated dragging and dropping journal entries in the project page
  source/assets/scripts/selected_project_page.js
  source/assets/styles/styles.css
  source/reference/selected_project_page.html
Labels: JavaScript, SelectedProjectPage

#103 added function to delete and drag selected project
  source/assets/scripts/ProjectCard.js
  source/assets/scripts/main.js
  source/assets/scripts/profile_setting.js
  source/assets/styles/project_styles.css
  source/reference/datastructure.json
  source/reference/exampledata.json
Labels: Project Home Page, JavaScript

#107 Added 6/3 notes
  admin/meetings/060324-checkin.md
Labels: notes

#109 finalized styling of the settings page
  source/assets/styles/project_setting.css
  source/reference/project_setting.html
Labels: CSS, done, Profile Setting Page

#113 Removed two outdated tests
  source/tests/main.test.js
Labels: CI/CD

#111 got rid of the template section of the journal entry
  source/assets/styles/styles.css
  source/reference/selected_project_page.html
Labels: HTML, CSS, Project Workflow Page

#120 117 communication from homepage to selected project page
  home_projects_page.html
  source/assets/scripts/ProjectCard.js
  source/assets/scripts/selected_project_page.js
  source/assets/styles/styles.css
  source/reference/selected_project_page.html
Labels: Project Home Page, JavaScript, SelectedProjectPage

#127 Updates to HTML/CSS/JS for project page
  source/assets/scripts/selected_project_page.js
  source/assets/styles/styles.css
  source/reference/selected_project_page.html
Labels: CSS, JavaScript, SelectedProjectPage

#133 removed the username in the profile settings
  home_projects_page.html
Labels: HTML

#138 finalized the consistency of all footer copyright icons
  source/assets/styles/styles.css
  source/reference/selected_journal_page.html
Labels: HTML, CSS, done

#147 made the project icons better reflect the designs and removed the link color
  source/assets/scripts/ProjectCard.js
  source/assets/styles/project_styles.css
  source/assets/styles/styles.css
Labels: bug, CSS

#149 Implemented new "add" button pop-up in project page
  source/assets/scripts/+_button_selcted_project_page.js
  source/assets/scripts/selected_project_page.js
  source/reference/selected_project_page.html
Labels: JavaScript, SelectedProjectPage

#155 Fixed dynamic table of contents function in project page
  source/assets/scripts/selected_project_page.js
  source/assets/styles/styles.css
Labels: CSS, JavaScript, SelectedProjectPage

#163 Removed default table of contents and journal entry values
  source/reference/selected_project_page.html
Labels: HTML, SelectedProjectPage

#169 Update README.md
  README.md
Labels: documentation

#175 fixed the logo reference
  home_projects_page.html
Labels: bug, HTML

#178 Configuring Linter
  .github/workflows/super-linter.yml
  lint/.eslintrc.yml
Labels: CI/CD

#184 Working on code coverage
  .github/workflows/codacy-coverage-reporter.yaml
  coverage/Icov.info
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/+_button_selcted_project_page.js.html
  coverage/lcov-report/ProjectCard.js.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/get_set_from_localStorage.js.html
  coverage/lcov-report/home_projects_page.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/main.js.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/profile_setting.js.html
  coverage/lcov-report/selected_journal.js.html
  coverage/lcov-report/selected_project_page.js.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  jest.config.js
Labels: CI/CD

#187 Readded dynamic table of contents to project page
  source/assets/scripts/ProjectCard.js
  source/assets/scripts/selected_project_page.js
Labels: JavaScript, SelectedProjectPage

#188 Made table of contents update when adding journal entry
  source/assets/scripts/selected_project_page.js
Labels: JavaScript, SelectedProjectPage

#189 Update table of contents upon journal entry deletion
  source/assets/scripts/selected_project_page.js
Labels: JavaScript, SelectedProjectPage

#192 Adding more unit tests
  coverage/clover.xml
  source/assets/scripts/+_button_selcted_project_page.js
  source/assets/scripts/main.js
  source/tests/+_button.unit.js
  source/tests/main.unit.js
Labels: CI/CD

#194 Adding more unit tests
  coverage/clover.xml
  source/assets/scripts/get_set_from_localStorage.js
  source/assets/scripts/home_projects_page.js
  source/assets/scripts/main.js
  source/assets/scripts/profile_setting.js
  source/assets/scripts/selected_journal.js
  source/assets/scripts/selected_project_page.js
  source/tests/get_set.unit.js
  source/tests/home_projects_page.unit.js
  source/tests/main.unit.js
  source/tests/profile_setting.unit.js
  source/tests/selected_journal.unit.js
  source/tests/selected_project.unit.js
Labels: CI/CD

#202 Added 6/7 notes
  admin/meetings/060724-retrospective.md
  admin/meetings/060724-sprint-3-review.md
  admin/meetings/060724-wrapup.md
Labels: notes

#203 Fixed display of project home page after opening project creation
  home_projects_page.html
  source/assets/scripts/ProjectCard.js
  source/assets/styles/project_styles.css
Labels: Project Home Page, CSS

#205 Fixed logo link on homepage
  home_projects_page.html
Labels: HTML, HomePage
